JWT_ACCESS_SECRET=9f3c7a1e4b8d2f6c0a5asde91b3d7c4f8a2e6b1c9d0f3a7b5c8e2d4f6a1b9c0d3e7
JWT_ACCESS_SECRET_EXPIRY_MS=900000
JWT_ACCESS_SECRET_EXPIRY_MINS=15
JWT_ACCESS_SECRET_EXPIRY_DAYS=0
JWT_REFRESH_SECRET=9f3c7a1e4b8d2f6c0asda5e9wesd1b3d7c4f8a2e6b1c9d0f3a7b52d4f6a1b9c0d3e7
JWT_REFRESH_SECRET_EXPIRY_MS=2592000000
JWT_REFRESH_SECRET_EXPIRY_MINS=43200
JWT_REFRESH_SECRET_EXPIRY_DAYS=30
JWT_REFRESH_THRESHOLD=7
DATABASE_POSTGRESQL_USERNAME=
DATABASE_POSTGRESQL_PASSWORD=
DATABASE_POSTGRESQL_PORT=
EMAIL_GOOGLE_USERNAME=
EMAIL_GOOGLE_PASSWORD=
EMAIL_GOOGLE_FROM=
REDIS_HOST=
REDIS_PORT=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=